<ion-header>
	<ion-toolbar color="primary">
		<ion-title class="title"> Create Notes </ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<img [src]="image" id="previewImage" *ngIf="image" class="preview-image img-responsive" />
  
	<ng-container *ngIf="image">
	  <ion-item>
		<ion-label position="stacked">Title</ion-label>
		<ion-input type="text" [(ngModel)]="title"></ion-input>
	  </ion-item>
  
	  <ion-item>
		<ion-label position="stacked">Notes</ion-label>
		<ion-textarea [(ngModel)]="notes"></ion-textarea>
	  </ion-item>

	</ng-container>
  </ion-content>
  
  	 <!-- <ion-button position="stacked" fill="clear" expand="full" color="light" (click)="uploadData()" *ngIf="image">
		<ion-icon slot="start" name="cloud-upload"></ion-icon>
		Upload
	  </ion-button> -->
  <ion-footer>
	<!-- <ion-toolbar> -->
		<ion-button (click)="selectImage()" *ngIf="!image">
			<img src="assets/icons/icons8-image-50.png"/>
		  </ion-button>
		  <ion-button (click)="selectImage()" *ngIf="!image">
			<img src="assets/icons/icons8-music-50.png"/>
		  </ion-button>
		  <ion-button (click)="selectImage()" *ngIf="!image">
			<img src="assets/icons/icons8-video-50.png"/>
		  </ion-button>
		  <ion-button (click)="selectImage()" *ngIf="!image">
			<img src="assets/icons/icons8-compact-camera-50.png"/>
		  </ion-button>

	 
	<!-- </ion-toolbar> -->
  </ion-footer>
  


